.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .5);
    width: 30%;
    margin: auto;
    text-align: center;
    align-items: center;
    background-color: lightsteelblue;
}

a {
    text-decoration: none;
    font-size: 30px;
    color: black;
}

li {
    display: inline-block;
}

